# Copyright 2020-2021 Hewlett Packard Enterprise Development LP
---
name: @name@-2.1.0-sle-15sp2
format: raw
storage:
  blobStoreName: @name@
proxy:
  remoteUrl: @bloblet_url@/sles-15sp2

---
name: @name@-2.1-sle-15sp2
format: raw
storage:
  blobStoreName: @name@
type: group
group:
  memberNames:
  - @name@-2.1.0-sle-15sp2

